body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #FFFFFF;
  position: relative;

}

a {
  text-decoration: none;
}

.main-navigation {
  /*color: #000000;*/
  background-color: #FFFFFF;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.picture {
  background-image: url("../img/background.jpg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top center;
  height: 507px;
  background-size: cover;
  padding-top: 110px;
  box-sizing: border-box;
}

.picture::after {

  width: 100%;
  height: 273px;
  content: "";
  background: url("../img/bottomarea.png") no-repeat center center;
  display: block;
  margin-top: 25px;
}

.mountain {
  width: 455px;
  height: 350px;
  margin: auto;
  margin-top: -35px;

}

.advantages .p1 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  min-width: 470px;
  min-height: 48px;
  line-height: 1.238;
  z-index: 63;

  padding-right: 5px;

}

.advantages .p2 {
  font-size: 14px;

  font-weight: normal;
  color: #333333;
  min-width: 600px;
  height: 1px;
  text-align: center;

  padding-bottom: 25px;

  top: -10px;
}

.features-list-21 {
  list-style: none;
}

.features-list-41 {
  list-style: none;
}

.infrastructure {
  list-style: none;
}

.housing {
  list-style: none;
}

.features-list-1 {
  margin-top: -15px;
}

.features-list-1 .background-blue {
  background-color: #81b3d2;
}

.features-list-1 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;

  text-align: center;
}

.features-list-1 p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #FFFFFF;

  margin-top: 22px;
  width: 280px;
  text-align: center;
}

.features-list-2 {
  background-color: #FFFFFF;
}

.features-list-21 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  text-align: center;


}

.features-list-21 p {
  font-size: 14px;
  line-height: 21px;
  width: 300px;
  font-weight: normal;
  color: #333333;
  text-align: center;

}

.features-list-3 .background-blue2 {
  background-color: #81b3d2;
}

.features-list-3 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

.features-list-3 p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;

  width: 280px;
  margin-top: 20px;
  margin-right: 35px;
}

.features-item-4 {
  background-color: #eeeeee;
}

.features-list-41 h3 {
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  color: #000000;
  text-align: center;

  margin-top: 14px;
  margin-right: -10px;
  z-index: 69;

}

.features-list-41 p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-align: center;

  margin-top: 23px;
  margin-left: 60px;
  width: 280px;

}

.features-list-41 p:nth-child(2n) {
  margin-top: 20px;
}

.features-p-5 {
  width: 320px;

}

.intersting {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.intersting b {


}

.intersting p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-align: center;

  margin-top: 17px;
}

.search input {
  font: inherit;
  background-color: #f2f2f2;
}

.search .button-search {
  width: 570px;
  height: 84px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  margin: auto;
  display: block;
  padding: 10px 30px;
  box-sizing: border-box;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;

}

.search-item button:hover {
  color: #000000;
}

.search-item button:active {
  color: #81b3d2;
}

.search-form {
  width: 570px;
  height: 325px;
  background-color: #ffffff;

  text-transform: uppercase;
  font-weight: bold;
  padding-top: 66px;

  /*box-sizing: border-box;*/
  /*text-align: center;*/
}

.search .button-find {
  font-style: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  width: 79px;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

.main-footer .footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.footer-social a:hover,
.footer-social a:focus {
  text-decoration: none;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.footer-copyright {
  text-align: center;

}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #b6b4b5;
}

.site-navigation-current a {
  color: #766357;
}

.filter {
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  color: #FFFFFF;
  box-sizing: border-box;

}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  line-height: 21px;
}

.filter-input:disabled + label {
  color: #6a6a6a;
}

.filter-button {

  color: #ffffff;
}

.filter-button:hover {
  font-weight: normal;
  background-color: #ffffff;
  color: #000000;
}

.result .found {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;

}

.result p {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
}

.result img
{
  color: #cacaca;
}
.button-up-down
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: -60px;
  width: 30px;
  height: 20px;
  margin-top: 30px;
}
.result .sort {
  list-style: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.sort a {
  color: #000000;
  opacity: 0.2;
  border-bottom: 1px dashed;

}

.sort a:hover {
  color: #81b3d2;
  opacity: 100;
}

.sort a:active {
  color: #000000;
  opacity: 100;
}

.sort-current a {
  color: #81b3d2;
  border-bottom: none;
  opacity: 100;

}

.hotels-list {
  list-style: none;
}

.hotel {
  background-color: #fefefe;
}

.hotel a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #000000;

}

.hotel a:hover {
  color: #81b3d2;
}

.hotel a:active {
  color: #000000;
  opacity: 0.3;
}

.hotels-list-character span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.hotels .button-more {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  width: 120px;
  height: 23px;
  text-align: center;
  padding-top: 5px;
}

 .button-more:hover {
  background-color: #669ec0;
}

 .button-more:active {
  background-color: #5496bd;
  color: rgba(80, 62, 51, 0.3);
}

.hotels .button-booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  width: 140px;
  height: 23px;
  padding-top: 5px;
  text-align: center;
  margin-left: 5px;
}

.hotels .button-booking:hover {
  background-color: #604e43;
  color: #ffffff;
}

.hotels .button-booking:active {
  background-color: #503e33;
  
}

.hotels-list-character .stock {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: #666666;
  color: #666666;
  margin: auto;
}

.wrapper {
  /*position: relative;*/
  width: 1200px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 7px 15px 0 #e7e7e7;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.section-container {
  padding: 0 6%;
}

.main-header {

}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 138px;
  height: 70px;
  transform: translateX(-50%);
  padding: 0;
  z-index: 1;
  background: transparent;

}

.site-navigation {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  z-indexwebkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 20%;
  margin: 12px 0 14px;

}

.site-navigation-link-left {
  text-align: left;
}

.site-navigation-link-right {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  padding-left: 30px;
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  padding-right: 34px;
}

.advantages .visually-hidden {
  visibility: hidden;
}

.advantages {
  min-height: 217px;
}

.advantages .p1 {
  margin: auto;
  line-height: 1.238;
  text-align: center;
  left: 380px;
  width: 440px;
  min-height: 48px;

}

.advantages .p2 {
  line-height: 1.857;
  text-align: center;
  left: 357px;
  margin: auto;
  width: 493px;
  min-height: 18px;
  padding-top: 39px;
}

.features-list-1 {
  display: flex;
  min-height: 256px;
  overflow: hidden;
  position: relative;
}

.features-item-1 {
  width: 130px;
  min-height: 40px;
  margin: auto;
}

.features-p-1 {
  width: 230px;
  min-height: 47px;
  margin: auto;
}

.background-blue {
  width: 400px;
  min-height: 257px;
  padding: 48px 60px 34px;
  text-align: center;
  box-sizing: border-box;
}

.box-img {
  position: absolute;
  top: 123px;
  right: 0;
  width: 800px;
  transform: translateY(-50%);
}

.box-img img {
  max-width: 100%;
  height: auto;
}

.features-list-21 {
  min-height: 330px;
  margin: 0;
  padding: 0;
  display: flex;

}

.features-p-2 {
  width: 230px;
  min-height: 38px;
  margin-left: 45px;
  margin-top: 22px;
}

.features-p-3 {
  width: 240px;
  min-height: 38px;
  margin-left: 47px;
  margin-top: 24px;

}

.features-p-4 {
  width: 270px;
  min-height: 38px;
  margin-left: 58px;
  margin-top: 20px;
}

.features-item-221 {

  width: 33%;
  text-align: center;

}

.features-div {
  padding-top: 60px;
}

.features-list-3 {
  display: flex;
  flex-direction: row-reverse;
  min-height: 256px;
  overflow: hidden;
  position: relative;
}

.features-item-3 {
  width: 152px;
  min-height: 40px;
  margin: auto;

}

.background-blue2 {
  width: 400px;
  min-height: 257px;
  padding: 48px 60px 34px;
  text-align: center;
  box-sizing: border-box;
}

.background-blue2 .p3 {
  width: 305px;
  margin-top: 23px;
  margin-right: 40px;
  margin-left: -10px;
}

.box-img2 {
  position: absolute;
  top: 123px;
  left: 0;
  width: 800px;
  transform: translateY(-50%);
}

.box-img2 img {
  max-width: 100%;
  height: auto;
}

.features-list-41 {
  min-height: 255px;
  margin: 0;
  padding: 0;
  display: flex;

}

.features-item-441 {
  margin: auto;
  width: 33%;
}

.features-div2 {
  margin-bottom: 5px;
  margin-left: 0px;
}

.features-item-441 h3 {
  width: 120px;
  min-height: 40px;
  margin: auto;
}

.features-p-5 {
  width: 320px;
  min-height: 39px;

}

.features-p-6 {
  width: 260px;
  min-height: 39px;
  margin: auto;
}

.features-p-7 {
  width: 265px;
  min-height: 39px;
  margin: auto;
}

.intersting {
  margin-top: 56px;
  margin-left: auto;
}

.intersting-p {
  width: 455px;
  min-height: 50px;
  margin-top: 35px;
  margin-left: 370px;
  padding-bottom: 50px;
}

.search {
  position: relative;
  /*margin: auto;*/
  margin-top: -15px;

}

.button-search {
  border: 0px;

}

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-date-in-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 470px;
  margin-left: 50px;

  margin-top: -5px;
}

.search-date-in-1 input {
  width: 338px;
  margin-left: 22px;
  height: 32px;
  outline: none;
  border: 0px;
  padding-left: 10px;
  outline: none;
  margin-top: -5px;
}
input[type="button"]
{
  background: url("../img/calendar.svg");
  background-repeat: no-repeat; 
  width: 27px;
  height: 23px;
  display: block;
  background-position: 0% 50%;
  color: #cacaca;
  position: absolute;
  margin-left: 210px;
  margin-top: 1px;
}
.search-date-out-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 29px;
  width: 480px;
  margin-left: 45px;
  margin-top: 35px;

}

.search-date-out-1 input {
  width: 338px;
  height: 32px;
  margin-left: 18px;
  outline: none;
  border: 0px;
  padding-left: 10px;
}
input[type="button"]
{
  background: url("../img/calendar.svg");
  background-repeat: no-repeat; 
  width: 27px;
  height: 23px;
  display: block;
  background-position: 0% 50%;
  color: #cacaca;
  position: absolute;
  margin-left: 210px;
  margin-top: 1px;
}

.search-date-in-and-out {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.search-item-12 {
  display: flex;
  flex-direction: row;
  margin-top: 31px;
  width: 570px;
  height: 38px;

}

.search-item-12 label {
  margin-left: 55px;

  margin-top: 5px;
}

.button-minus-plus {

  display: flex;
  flex-direction: row;
  margin-left: 35px;
  width: 115px;
  height: 38px;
}

.button-minus-plus input {
  width: 38px;
  height: 36px;
  text-align: center;
  outline: none;
  border: 0px;
}

.count {
  width: 40px;
  height: 38px;
  background-color: #f2f2f2;
  color: #a9a9a9;
  border: 0px;
  outline: none;
}

.count:hover
{
  color: black;
}
.count:active
{
  color:#81b3d2;
}
.button-minus-plus-2 {
  display: flex;
  flex-direction: row;
  width: 115px;
  height: 38px;
  margin-left: 22px;
}

.button-minus-plus-2 input {
  width: 38px;
  height: 36px;
  text-align: center;
  outline: none;
  border: 0px;
}

.search .button-find {
  position: relative;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: 0px;
  margin-left: 55px;
  margin-top: 54px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;

}
.search .button-find:hover
{
  background-color: #669ec0;
}

.search .button-find:active
{
  background-color: #5496bd;
  color: rgba(148,185,210,0.3);
}
.map {
  background-image: url("../img/map.jpg");
  height: 585px;

}

iframe {
  width: 100%;
  height: 585;
  border: none;
}

.main-footer {
  position: absolute;
  /*eight: 120px;*/
  background-color: rgba(255, 255, 255, 0.8);
  width: 1200px;
  z-index: 38;

}

.main-footer .container3 {
  display: flex;
  justify-content: space-between;
}

.footer-hashtag {
  min-height: 25px;
  margin: 0;
  width: 137px;
  margin-top: 50px;
  margin-left: 132px;

}

.footer-social {
  min-height: 52px;
  margin-left: 100px;
  width: 152px;
  list-style: none;
}
.calendar-button
{
  color: #cacaca;
}

.footer-copyright {
  min-height: 55px;
  width: 250px;
  margin-right: 100px;
  margin-top: 50px;
}

.filters .filter {
  height: 219px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infrastructure-flex {

  margin-top: 28px;
  margin-left: 60px;
}

.infrastructure li {
  /*width: 226px;*/
  min-height: 47px;
  width: 220px;
}

.filter-option-flex-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.housing-flex {
  width: 129px;
  margin-top: 32px;
  margin-left: -190px;
}

.filter-option-flex-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: -230px;
  width: 220px;
}
input[type="checkbox"]
{
  position: absolute; /* Абсолютное позиционирование */
 
 
 background-image: url("../img/checkbox-on.svg") no-repeat; /* Фоновый рисунок */
 cursor: pointer;
}
.value {

}

.button-flex {

}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 72px;
}

.result .found {

  width: 126px;
  min-height: 30px;
  margin-left: -70px;
  margin-top: 31px;
  
}

.result p {

  height: 20px;
  width: 82px;
  margin-left: -270px;
  margin-top: 35px;

}

.result .sort-flex 
{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  margin-left: -295px;
  margin-top: 24px;

}
.sort-flex:nth-child(2n)
{
  margin-left: 5px;
}
.sort-flex:nth-child(3n)
{
  margin-left: 5px;
}
.hotels {

}

.hotels-list-flex {

  margin-left: -37px;
  display: flex;
  flex-direction: column;

}

.hotel-flex-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  height: 152px;
}

.hotels-photo-1 {
  margin-left: 65px;
  height: 91px;
  margin-top: 30px;
}

.hotels-list-character {
  width: 180px;
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.hotels-list-character span {
  margin-top: -35px;
  margin-bottom: 15px;
}

.hotel-flex-11 p {
  margin-top: 25px;
  letter-spacing: 0.05em;
  margin-left: 5px;
}


.button-more-booking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.button-more-booking a {
  margin-top: -25px;
  margin-bottom: 30px;
}

.button-more-booking a:nth-child(2) {
  margin-right: 40px;
  margin-left: 10px;
}

.hotel-flex-11 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 600px;
  margin-left: 30px;
  width: 300px;
  text-align: left;

}

.hotel-flex-12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 100px;
  width: 270px;
  margin-right: 60px;
  margin-left: -60px;
  text-align: center;
}

.stock {

  width: 100px;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 28px;
  background-color: #f2f2f2;
}

.main-footer-1 {
  position: relative;
  min-height: 120px;
  background-color: white;
  /*margin-top: 78px;*/
}

.main-footer-1 .container31 {
  display: flex;
  justify-content: space-between;
}

.footer-hashtag1 {
  min-height: 25px;
  margin: 0;
  width: 137px;
  margin-top: 30px;
  margin-left: 132px;
}

.footer-social1 {
  min-height: 52px;
  margin-left: 256px;
  width: 152px;
  list-style: none;
}

.footer-copyright1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  width: 199px;
  margin-right: 100px;
  margin-top: 40px;
  
}

.footer-copyright1 svg
{
  width: 120px;
  height: 50px;
}

.main-footer-1 .footer-hashtag1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.footer-social1 a:hover,
.footer-social1 a:focus {
  text-decoration: none;
}

.footer-social1 ul {
  list-style: none;
}

.social-button1 {
  color: #000000;
}

.footer-copyright1 {
  text-align: center;
}

/*.footer-copyright1 .button-logo:hover,
.footer-copyright1 .button-logo:focus {
  fill:  #b6b4b5;
}*/

.filter-range {
  width: 330px;
  margin-right: 48px; 
  margin-top: 25px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 8px;
  letter-spacing: -0.03em;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.visually-hidden {
  visibility: hidden;
}

.social-button {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;

}

.footer-social ul {
  display: flex;
  width: 150px;
  list-style: none;
  justify-content: space-between;
  margin-top: 42px;
  margin-right: 25px;
  margin-left: -25px;
  padding: 0;

}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button path {

  text-align: center;
  margin: auto;
}

.social-button:active path {

  opacity: 0.3;

}

.copyright {
  display: block;
  margin-top: 37px;
  width: 455px;
  min-height: 45px;
  margin-right: 100px;
 
}
.copyright span
{

  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  top: 10px;

}
.copyright  svg
{
  width: 120px;
  height: 50px;
}

.footer-copyright .button 
{
  display: block;
  margin-right: 0;
}

.social-button1 {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;

}

.footer-social1 ul {
  display: flex;
  width: 150px;
  list-style: none;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0;
  margin-left: -110px;

}
.social-button1:hover {
  background-color: #669ec0;
}

.social-button1:active {
  background-color: #5496bd;
}

.social-button1 path {

  text-align: center;
  margin: auto;
}

.social-button1:active path {
  opacity: 0.3;
}

.wrapper2 {
  height: 585px;
  width: 1200px;
  margin: auto;
}

.main-footer {
  width: 1200px;

  margin: auto;
  background: #00800070;
  position: absolute;
  bottom: 0px;
  height: 120px;
}
/*комментарий*/
